@if (book) {
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="card-title">{{ book.title }}</h2>
                        <div class="mb-3">
                            <strong>ISBN:</strong> {{ book.isbn }}
                        </div>
                        <div class="mb-3">
                            <strong>Publisher:</strong> {{ book.publisherName }}
                        </div>
                        <div class="mb-3">
                            <strong>Quantity:</strong> {{ book.quantity }}
                        </div>
                        <div class="mb-3">
                            <strong>Description:</strong> 
                            <p class="card-text">{{ book.description }}</p>
                        </div>
                        <div class="mb-3">
                            <strong>Authors:</strong>
                            <ul class="list-group">
                                @for (author of authors; track author.id) {
                                    <li class="list-group-item" [id]="author.id">
                                        {{ author.name }} {{ author.surname }}
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="d-flex justify-content-end">
                            @if (isLoggedIn && !hasUserRentedBook) {
                                <button class="btn btn-outline-primary m-3" (click)="rentBook()">Rent</button>
                            }
                        </div>
    
                    </div>

                    <div class="col-md-4 text-center">
                        <img [src]="book.imageUrl" alt="{{ book.title }}" class="img-fluid rounded book-image" style="max-width: 100%; height: auto;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
} @else {
    <div class="container mt-4">
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="mt-2">Loading book details...</p>
        </div>
    </div>
}