<div class="d-flex flex-column align-items-center m-3">
  @if (!isEditMode) {
  <h2>Register</h2>
  }
  <form
    [formGroup]="userForm"
    (ngSubmit)="preSubmit()"
    class="needs-validation card w-50 p-3 mb-2"
    novalidate
  >
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        class="form-control"
      />
      @if (userForm.get('email')?.touched &&
      userForm.get('email')?.errors?.['required']) {
      <small class="text-danger">Email is required.</small>
      } @if (userForm.get('email')?.touched &&
      userForm.get('email')?.errors?.['email']) {
      <small class="text-danger">Please enter a valid email.</small>
      }
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        class="form-control"
      />
      @if (userForm.get('password')?.touched &&
      userForm.get('password')?.errors?.['required']) {
      <small class="text-danger">Password is required.</small>
      } @if (userForm.get('password')?.touched &&
      userForm.get('password')?.errors?.['minlength']) {
      <small class="text-danger"
        >Password must be at least 6 characters long.</small
      >
      }
    </div>

    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input
        id="firstName"
        formControlName="firstName"
        type="text"
        class="form-control"
      />
      @if (userForm.get('firstName')?.touched &&
      userForm.get('firstName')?.errors?.['required']) {
      <small class="text-danger">First Name is required.</small>
      }
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input
        id="lastName"
        formControlName="lastName"
        type="text"
        class="form-control"
      />
      @if (userForm.get('lastName')?.touched &&
      userForm.get('lastName')?.errors?.['required']) {
      <small class="text-danger">Last Name is required.</small>
      }
    </div>

    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input
        id="phoneNumber"
        formControlName="phoneNumber"
        type="text"
        class="form-control"
      />
      @if (userForm.get('phoneNumber')?.touched &&
      userForm.get('phoneNumber')?.errors?.['required']) {
      <small class="text-danger">Phone Number is required.</small>
      } @if (userForm.get('phoneNumber')?.touched &&
      userForm.get('phoneNumber')?.errors?.['pattern']) {
      <small class="text-danger"
        >Please enter a valid phone number (9 digits).</small
      >
      }
    </div>

    <div class="d-flex gap-2 justify-content-end">
      <button type="button" class="btn btn-secondary" (click)="resetForm()">
        Reset
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="userForm.invalid"
      >
        {{ isEditMode ? "Save" : "Register" }}
      </button>
    </div>
    @if (errorMessage) {
    <div class="error">
      {{ errorMessage }}
    </div>
    }
  </form>
</div>

@if (showModal) {
<app-modal
  [message]="'Are you sure you want to save changes?'"
  (userResponse)="onModalResult($event)"
>
</app-modal>
}
