<div
  class="d-flex justify-content-center align-items-center position-fixed top-0 left-0 right-0 bottom-0 bg-dark bg-opacity-50 w-100 h-100"
  style="z-index: 1"
  (click)="onCancel()"
  (keyup.enter)="onCancel()"
  tabindex="0"
  role="dialog"
  aria-labelledby="confirmation-dialog-title"
  aria-modal="true"
>
  <div
    class="bg-white rounded p-4 w-50"
    (click)="$event.stopPropagation()"
    (keyup.enter)="$event.stopPropagation()"
    tabindex="0"
  >
    <div class="d-flex justify-content-between">
      <h5 id="confirmation-dialog-title">Confirmation</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="onCancel()"
        (keyup.enter)="onCancel()"
      ></button>
    </div>
    <div>
      <p>{{ message }}</p>
    </div>
    <div class="d-flex justify-content-end p-2 gap-2">
      <button
        class="btn btn-secondary"
        (click)="onCancel()"
        (keyup.enter)="onCancel()"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary"
        (click)="onAccept()"
        (keyup.enter)="onAccept()"
      >
        Accept
      </button>
    </div>
  </div>
</div>
