<nav class="navbar navbar-expand-lg navbar-light bg-thirdary text-white p-3">
  <div class="container-fluid">
    <div>
      <span class="fs-2 fw-bold">
        @if (isLoggedIn) { Hello, {{ getFirstName() }}
        } @else { Library }
      </span>
    </div>
    <div class="d-flex gap-4 align-items-center">
      <div class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"
          >Home</a
        >
      </div>
      @if (!isLoggedIn) {
      <div class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"
          >Login</a
        >
      </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active"
          >Register</a
        >
      </div>
      } @if (isLoggedIn) {
      <div class="nav-item">
        <a class="nav-link" routerLink="/user-panel" routerLinkActive="active"
          >User</a
        >
      </div>
      @if (isAdmin) {
      <div class="nav-item">
        <a class="nav-link" routerLink="/admin-panel" routerLinkActive="active"
          >Admin Panel</a
        >
      </div>
      }
      <div class="nav-item">
        <button class="btn btn-danger" routerLink="/home" (click)="logout()">
          Logout
        </button>
      </div>
      }
    </div>
  </div>
</nav>
