<app-nav-bar/>
<div class="login-container">
  <h2>Logowanie</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label>Email</label>
      <input type="email" formControlName="email" />
      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        <p>Invalid email.</p>
      }
    </div>
    <div>
      <label>Password</label>
      <input type="password" formControlName="password" />
      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <p>Password must be at least 6 characters long.</p>
      }
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Log in</button>
  </form>
  @if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
  }
</div>