<app-nav-bar />
<div class="d-flex gap-2 p-3">
  <button (click)="preHandleDelete()" class="btn btn-outline-danger">
    Delete
  </button>
  <button (click)="toggleShowEditForm()" class="btn btn-outline-primary">
    {{ showEditForm ? "Hide" : "Edit" }}
  </button>
</div>
@if (showEditForm) {
<app-book-form />
}
<div class="mb-5">
  <app-book-details-info [bookId]="bookId" />
</div>

@if (showModal) {
<app-modal
  [message]="'Are you sure you want to delete this book?'"
  (userResponse)="onModalResult($event)"
/>
}
