<app-nav-bar />
<div class="d-flex gap-2 m-2 align-items-center">
  <div>
    <button class="btn btn-outline-primary" (click)="handleGoBack()">
      <i class="bi bi-chevron-left"></i>
    </button>
  </div>
  <div>
    <button (click)="preHandleDelete()" class="btn btn-outline-danger">
      Delete
    </button>
  </div>
  <div>
    <button (click)="toggleShowEditForm()" class="btn btn-outline-primary">
      {{ showEditForm ? "Hide" : "Edit" }}
    </button>
  </div>
</div>
@if (showEditForm) {
<app-book-form />
}
<div class="mb-5">
  <app-book-details-info [bookId]="bookId" />
</div>

@if (showModal) {
<app-modal
  [message]="'Are you sure you want to delete this book?'"
  (userResponse)="onModalResult($event)"
/>
}
