<div class="container mt-4">
    <h2 class="mb-4">Books</h2>
    @if (paginatedBooks().length > 0) {
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">
                ID
                <button class="btn btn-sm btn-outline-secondary" (click)="sortById()">
                    @if (idSortDirection === "asc") {
                        ASC
                    } @else {
                        DESC                        
                    }
                </button>
            </th>
            <th class="text-center">ISBN</th>
            <th class="text-center">
                Title 
                <button class="btn btn-sm btn-outline-secondary" (click)="sortByTitle()">
                    @if (titleSortDirection === "asc") {
                        ASC
                    } @else {
                        DESC                        
                    }
                </button>
            </th>
            <th class="text-center">Authors</th>
            <th class="text-center">Publisher</th>
            <th class="text-center">
                Available
                <button class="btn btn-sm btn-outline-secondary" (click)="sortByAmount()">
                    @if (amountSortDirection === "asc") {
                        ASC
                    } @else {
                        DESC                        
                    }
                </button>
            </th>
            <th class="text-center">
              Published Date
              <button class="btn btn-sm btn-outline-secondary" (click)="sortByPublishedDate()">
                @if (dateSortDirection === "asc") {
                    ASC
                } @else {
                    DESC                        
                }
            </button>
            </th>
            <th class="text-center">
                Details
            </th>
          </tr>
        </thead>
        <tbody>
          @for (book of paginatedBooks(); track book.id) {
            <tr>
              <td>{{ book.id }}</td>
              <td>{{ book.isbn }}</td>
              <td>{{ book.title }}</td>
              <td>{{ book.authors.join(', ') }}</td>
              <td>{{ book.publisherName }}</td>
              <td>{{ book.quantity }}</td>
              <td>{{ book.publishedDate | date:'d MMMM yyyy' }}</td>
              <td class="text-center">
                <a class="btn btn-info btn-sm" [routerLink]="['/books', book.id]">See more</a>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <div class="d-flex justify-content-center align-items-center  mt-4 gap-2">
        <button class="btn btn-primary" (click)="prevPage()" [disabled]="currentPage() === 0">❮</button>
        <span> {{ currentPage() + 1 }} of {{ totalPages() }} </span>
        <button class="btn btn-primary" (click)="nextPage()" [disabled]="currentPage() >= totalPages() - 1">❯</button>
      </div>
    } @else {
      <p class="text-muted">No available books.</p>
    }
  </div>