<div>
    <h2>Books</h2>
    @if (paginatedBooks().length > 0) {
      <table>
        <thead>
          <tr>
            <th>
                ID
                <button (click)="sortById()">
                    @if (idSortDirection === "asc") {
                        ASC
                    } @else {
                        DESC                        
                    }
                </button>
            </th>
            <th>ISBN</th>
            <th>
                Title 
                <button (click)="sortByTitle()">
                    @if (titleSortDirection === "asc") {
                        ASC
                    } @else {
                        DESC                        
                    }
                </button>
            </th>
            <th>Authors</th>
            <th>Publisher</th>
            <th>
                Available amount
                <button (click)="sortByAmount()">
                    @if (amountSortDirection === "asc") {
                        ASC
                    } @else {
                        DESC                        
                    }
                </button>
            </th>
            <th>
              Published Date
              <button (click)="sortByPublishedDate()">
                @if (dateSortDirection === "asc") {
                    ASC
                } @else {
                    DESC                        
                }
            </button>
            </th>
            <th>
                Details
            </th>
          </tr>
        </thead>
        <tbody>
          @for (book of paginatedBooks(); track book.id) {
            <tr>
              <td>{{ book.id }}</td>
              <td>{{ book.isbn }}</td>
              <td>{{ book.title }}</td>
              <td>{{ book.authors.join(', ') }}</td>
              <td>{{ book.publisherName }}</td>
              <td>{{ book.quantity }}</td>
              <td>{{ book.publishedDate | date:'d MMMM yyyy' }}</td>
              <td>
                <a [routerLink]="['/books', book.id]">See more</a>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <div>
        <button (click)="prevPage()" [disabled]="currentPage() === 0">❮</button>
        <span> {{ currentPage() + 1 }} of {{ totalPages() }} </span>
        <button (click)="nextPage()" [disabled]="currentPage() >= totalPages() - 1">❯</button>
      </div>
    } @else {
      <p>No available books.</p>
    }
  </div>
  