<div class="container mt-4">
    <h2 class="mb-4">{{ isEditMode ? 'Edit Book' : 'Add New Book' }}</h2>

    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="isbn" class="form-label">ISBN</label>
            <input id="isbn" formControlName="isbn" type="text" class="form-control" />
            @if (bookForm.get('isbn')?.invalid && bookForm.get('isbn')?.touched) {
                <div class="invalid-feedback">
                    ISBN is required.
                </div>
            }
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input id="title" formControlName="title" type="text" class="form-control" />
            @if (bookForm.get('title')?.invalid && bookForm.get('title')?.touched) {
                <div class="invalid-feedback">
                    Title is required.
                </div>
            }
        </div>

        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input id="quantity" formControlName="quantity" type="number" class="form-control" />
            @if (bookForm.get('quantity')?.invalid && bookForm.get('quantity')?.touched) {
                <div class="invalid-feedback">
                    Quantity is required and must be at least 1.
                </div>
            }
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" formControlName="description" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label for="publisher" class="form-label">Publisher</label>
            <select id="publisher" formControlName="publisher" class="form-select">
                @for (publisher of publishers; track publisher.id) {
                    <option [value]="publisher.name">{{ publisher.name }}</option>
                }
            </select>
            @if (bookForm.get('publisher')?.invalid && bookForm.get('publisher')?.touched) {
                <div class="invalid-feedback">
                    Publisher is required.
                </div>
            }
        </div>

        <div class="mb-3">
            <label for="imageUrl" class="form-label">Book Image URL</label>
            <input type="text" id="imageUrl" formControlName="imageUrl" class="form-control" />
            @if (bookForm.get('imageUrl')?.invalid && bookForm.get('imageUrl')?.touched) {
                <div class="invalid-feedback">
                    Please provide a valid image URL.
                </div>
            }
        </div>

        <div class="mb-3">
            <label for="publishedDate" class="form-label">Published Date</label>
            <input id="publishedDate" type="date" formControlName="publishedDate" class="form-control" />
            @if (bookForm.get('publishedDate')?.invalid && bookForm.get('publishedDate')?.touched) {
                <div class="invalid-feedback">
                    Published Date is required.
                </div>
            } @else if (bookForm.get('publishedDate')?.hasError('pastDate')) {
                <div class="invalid-feedback">
                    The published date must be in the past.
                </div>
            }
        </div>

        <div class="mb-3">
            <label for="authors" class="form-label">Available Authors</label>
            <select id="authors" (change)="onAuthorSelect($event)" class="form-select">
                @for (author of authors; track author.id) {
                    <option [value]="author.id">{{ author.name }} {{ author.surname }}</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <span class="form-label">Selected Authors</span>
            <ul class="list-group">
                @for (author of selectedAuthors; track author.id) {
                    <li class="list-group-item d-flex justify-content-between align-items-center mb-2" [id]="author.id">
                        {{ author.name }} {{ author.surname }}
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeAuthor(author.id)">Remove</button>
                    </li>
                }
            </ul>
        </div>

        <div class="d-flex gap-2 justify-content-end m-4">
            <button type="button" class="btn btn-secondary" (click)="resetForm()">Clear</button>
            <button type="submit" class="btn btn-primary" [disabled]="bookForm.invalid">Submit</button>
        </div>
    </form>
</div>